<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <title>ean254</title>
    <style>
        .navbar-toggle{
              position: fixed;
              top: 0;
              width: 100%;
          }     
          
          #navigation {
            position: sticky;
            top: 0;
            z-index: 100;
        }
      
          </style>
      
<body>
    <section class="row" style="font-family:'Times New Roman', Times, serif; font-weight:bold">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                <a href="/" class="navbar-brand" style="color:  #58d68d
                ;">
                    <img src="https://sirndeta.pythonanywhere.com/static/image/Ean254LogoBlackTransparent.png" height="45" alt="CoolBrand">
                    Ean254</a>
                 <a href="/">
                     <button type="button" class="navbar-toggler"
                    data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                     </button>
                </a> &nbsp;&nbsp;&nbsp;
                
                    <div class="collapse navbar-collapse justify-content-between"
                        id="navbarCollapse"> 
                         <div class="navbar-nav" >
                            <a href="/" class="nav-item nav-link active" style="color:  #27f720 ;" >Home</a>
                            <a href="/about" class="nav-item nav-link active" style="color:  #27f720 ;">About</a>
                            <a href="/services" class="nav-item nav-link active" style="color:  #27f720 ;">Services</a>
                            <a href="/contact" class="nav-item nav-link active" style="color:  #27f720 ;">Contact Us</a>
                        </div>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="nav-item nav-link img-thumbnail text-black bg-danger">LogOut</a>&nbsp;
                </div>
            </nav>
        </div>

    </section><br><br>

    <section class="row" class="container-fluid">
        <div class="col-md-6 container-fluid">
            <p style="text-center" id="pab1">Ean254 Photography gives you a great chance to remember every moment of your life by use of your eyes. Memories you and your loved ones make are valuable and Ean254 would not like you to miss it</p>
        </div>
        <div class="col-md-6 container-fluid">
            <img src="https://sirndeta.pythonanywhere.com/static/image/Ean.jpg" class="card-img-top d2" alt="Loading...." height="470">       

    </section>




    <hr style="border:solid 2px forestgreen;">

<footer class="row bg-dark ">
    <div class="col-md-4 text-danger">
        Work Hours <br>
        <ul>
            <li>Monday	7am to 8pm</li>
            <li>Tuesday	7am tot 8pm</li>
            <li>Wednesday 7am to 8pm</li>
            <li>Thursday 7am to 8pm</li>
            <li>Friday 7am to 8pm</li>
            <li>Saturday Open 24 hours</li>
            <li>Sunday 12:30 to 5pm</li>
            
        </ul>
    </div>
    <div class="col-md-4 text-danger">
        OUR SOCIAL MEDIA PLATFORM
        <ul>
            <a href="https://api.whatsapp.com/message/G5ITFVGE442RB1?autoload=1&app_absent=0">Whatsapp</a><br>
            <a href="https://www.instagram.com/ean254_photography/?__coig_restricted=1">Instagram</a><br>
            <a href="https://m.facebook.com/EAN254PRODUCTION/?ref=page_internal">Facebook</a></li><br>
            <a href="https://www.youtube.com/c/ean254ke">YouTube</a></li><br>

        </ul>


    </div>
    <div class="col-md-4 text-danger">
        THE GOSPEL OF LIFE
        <ul>
            <li>Eat</li>
            <li>Work</li>
            <li>Enjoy</li>
            <li>Sleep</li>
        </ul>


    </div>
    <br>
    <div class="col-md-12 text-danger text-center">
        <p>Love your life Build a Memory of it @EAN254</p>

        
    </div>






</footer>

</body>
</html>